@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Manrope", sans-serif;
  
  --color-primary: #222a3e;
  --color-primary-container: #384055;
  --color-background: #f7f9fb;
  --color-surface: #f7f9fb;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface-variant: #44474c;
  --color-tertiary-container: #004a31;
  --color-on-tertiary-container: #27c38a;
  --color-secondary: #5a6173;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #410002;
  --color-primary-fixed: #dce1ff;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
